<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
 "http://www.w3.org/TR/html4/strict.dtd"><html>
  <head>
    <title>dazfa</title>
  </head>
  <body>
  <div id="droneStream"></div>
</body>
<script src="/nodecopter-client.js"></script>
<script>
  new NodecopterStream(document.getElementById("droneStream"));
</script>  
</html>
